<div class="modal fade"
     id="add-to-basket-modal"
     aria-hidden="true" tabindex="-1">

    <div class="modal-dialog modal-dialog-centered justify-content-center"
         id="add-to-basket-content"
         style="max-width: 700px;">

        <div class="d-flex justify-content-center w-100">
            <div class="loader"></div>
        </div>

    </div>
</div>

