<section class="container mb-4">
    <div class="d-flex align-items-center gap-4 mb-3">
        <h2 class="fs-4 mb-2 me-5">Акции</h2>
        <p class="text-secondary m-0">Сортировать по:</p>
        <button class="btn bg-transparent p-0" style="font-size: 12px">
            <u>Стоимости</u>
            <svg class="bi bi-arrow-down" xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="gray"
                 viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M8 1a.5.5 0 0 1 .5.5v11.793l3.146-3.147a.5.5 0 0 1 .708.708l-4 4a.5.5 0 0 1-.708 0l-4-4a.5.5 0 0 1 .708-.708L7.5 13.293V1.5A.5.5 0 0 1 8 1"></path>
            </svg>
        </button>
        <button class="btn bg-transparent p-0" style="font-size: 12px">
            <u>Новинкам</u>
            <svg class="bi bi-arrow-up" xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="gray"
                 viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M8 15a.5.5 0 0 0 .5-.5V2.707l3.146 3.147a.5.5 0 0 0 .708-.708l-4-4a.5.5 0 0 0-.708 0l-4 4a.5.5 0 1 0 .708.708L7.5 2.707V14.5a.5.5 0 0 0 .5.5"></path>
            </svg>
        </button>
        <div class="d-flex ">
            <div class="form-check form-switch d-flex align-items-center " style="font-size: 11px;">
                <input class="form-check-input me-2 mt-0 cursor-pointer" style="width:35px; height:20px;"
                       type="checkbox" role="switch" id="switchCheck">
                <label class="form-check-label" for="switchCheck">В наличии</label>
            </div>
        </div>
    </div>
    <div class="row row-cols-2">
{#        {% set total_items = 12 %}#}
{#        {% set section_number = 1000 %}#}
        {% for product in promoProducts %}
            <div class="col p-0 ps-1">
                {% include Template('@products-product/public/'~baks_settings.device~'/card-product-result.html.twig') with {product} only %}

            </div>
        {% endfor %}
    </div>
</section>

<hr class="mb-3">
