<section class="container ">
<h2 class="fs-5 mb-4">О компании</h2>
          <div class="row row-cols-2">
              <div >
                  
                  
                  
                    <h3 style="font-size: 14px">Comfort-Avenue</h3>
                    <p class="fw-bolder" style="font-size: 12px" >Добро пожаловать в Comfort Avenue – вашу уникальную дверь к миру комфорта и
                        функциональности в вашем доме. </p>
                    <p style="font-size: 12px">Мы специализируемся на создании высококачественных кухонь,
                        фурнитуры для кухни и мебели для дома, предлагая широкий ассортимент
                        продукции, которая удовлетворит даже самые изысканные вкусы и потребности.
                    </p>

                    <p style="font-size: 12px"> В Comfort Avenue мы стремимся создавать пространства, которые сочетают в себе элегантность,
                    функциональность и инновационный дизайн.
                    </p>

                    <button class="btn mb-3" style="font-size: 12px"><strong class="me-2">Читать далее</strong>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="lightgray" class="bi bi-caret-down" viewBox="0 0 16 16">
                            <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
                        </svg>
                    </button>
              </div>
                    {# <p>
                    В Comfort Avenue мы стремимся создавать пространства, которые сочетают в себе элегантность,
                    функциональность и инновационный дизайн. Наша мебель и фурнитура изготавливаются из
                    высококачественных материалов с использованием передовых технологий, гарантируя надежность и
                    долговечность каждого изделия. Наша команда профессионалов внимательно относится к потребностям
                    каждого клиента, предлагая индивидуальные решения и персонализированный подход к каждому проекту.
                    Мы стремимся преодолеть ожидания и создать мебель, которая станет настоящим украшением вашего дома. </p> #}
                  <img class="rounded-3 "  src="https://placehold.co/400x300?text=Место+для+видео" alt="Заглушка для видео">
                   {# <video class="embed-responsive-item h-100 rounded-5" src="/assets/comfort/img/Video-Placeholder.mp4" style="object-fit: cover;" preload="auto" no-controls autoplay loop playsinline muted allowfullscreen></video> #}
              </div>
            
          
</section>