<section class="container mb-1">
    <div class="d-flex align-items-center gap-5 mb-3">
        <h2 class="fs-4">Рекомендуем</h2>
{#        <button class="btn bg-transparent p-0"><u>Скидки</u></button>#}
{#        <button class="btn bg-transparent p-0"><u>Новинки</u></button>#}
{#        <button class="btn bg-transparent p-0"><u>Коллекции</u></button>#}
    </div>
    <div class="row">
{#        <div class="col-4 pt-3" style="height: 400px;">#}
{#            <img class="rounded-3 h-auto w-100"#}
{#                src="assets/comfort/img/kitchenRecomendet.jpg"#}
{#                alt="Изображение рекомендации">#}
{#        </div>#}

        <div class="col-12">
            <div class="row row-cols-2">


                {% for product in promoProducts %}
{#                    {% include Template('@products-product/public/'~baks_settings.device~'/card-model-or-product-result.html.twig') with {card} only %}#}
                    {% include Template('@products-product/public/'~baks_settings.device~'/card-product-result.html.twig') with {product} only %}
                {% endfor %}

            </div>
        </div>
    </div>
</section>