{% trans_default_domain 'homepage.user' %}

<hr>
<main>
    {{ include(_self|replace({ "content.html.twig" : "/includes/breadcrumb.html.twig" })) }}
    <hr class="mb-5">
    {% include Template('@core:public/'~baks_settings.device~'/includes/about.html.twig') %}
</main>

<hr class="mb-5">
