{% trans_default_domain 'homepage.admin' %}

<div class="example-wrapper">
    <h1>Hello {{ controller_name }} {{ 'page.example'|trans }} Tablet! ✅</h1>

    This friendly message is coming from:

    <ul>
        <li>Your controller at <code>/src/Core/Controller/ExampleController.php</code></li>
        <li>Your template at <code>/src/Core/Resources/view/core/example/tablet/content.html.twig</code></li>
    </ul>

</div>

