<section class="container pt-3 pb-4 mb-4">
    <a href="#" class="w-100 kitchenBanner d-block rounded-4 position-relative p-5 " style="height: 320px;">
        {# <img class="w-100 h-auto rounded-4"  src="https://placehold.co/1400x350?text=Большой+акционный+баннер" alt="Баннер с изображением кухни"> #}
        <div class="position-absolute top-50 text-white">
            <h3 class=" fs-2">Наименование кухни</h3>
            <p class=" fs-5">Описание товара</p>
        </div>
    </a>

</section>