 <section id="about" class="container mb-5">
          <h2 class="fs-4 mb-4">О компании</h2>
          <div class="row">
            <div class="col-1">
              <div class="border-3 border-black border-end h-75"></div>
            </div>
            <div class="col-6 d-flex flex-column justify-content-between gap-5">
              <div>
                <h3>Comfort-Avenue</h3>
                <p class="fw-bolder">Добро пожаловать в Comfort Avenue – вашу уникальную дверь к миру комфорта и
                  функциональности в вашем доме. Мы специализируемся на создании высококачественных кухонь,
                  фурнитуры для кухни и мебели для дома, предлагая широкий ассортимент
                  продукции, которая удовлетворит даже самые изысканные вкусы и потребности.</p>
                <p >В Comfort Avenue мы стремимся создавать пространства, которые сочетают в себе элегантность,
                  функциональность и инновационный дизайн. Наша мебель и фурнитура изготавливаются из
                  высококачественных материалов с использованием передовых технологий, гарантируя надежность и
                  долговечность каждого изделия. Наша команда профессионалов внимательно относится к потребностям
                  каждого клиента, предлагая индивидуальные решения и персонализированный подход к каждому проекту.
                  Мы стремимся преодолеть ожидания и создать мебель, которая станет настоящим украшением вашего дома. </p>
              </div>

                <div class="d-flex align-items-start justify-content-between gap-3">
                  <div class="d-flex flex-column align-items-center justify-content-center">
                    <svg class="bi bi-check-lg" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                      <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425z"></path>
                    </svg>
                    <p class="text-center text-nowrap">5 лет гарантии</p>
                  </div>
                  <div class="d-flex flex-column align-items-center justify-content-center">
                    <svg class="bi bi-car-front-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                      <path d="M2.52 3.515A2.5 2.5 0 0 1 4.82 2h6.362c1 0 1.904.596 2.298 1.515l.792 1.848c.075.175.21.319.38.404.5.25.855.715.965 1.262l.335 1.679q.05.242.049.49v.413c0 .814-.39 1.543-1 1.997V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.338c-1.292.048-2.745.088-4 .088s-2.708-.04-4-.088V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.892c-.61-.454-1-1.183-1-1.997v-.413a2.5 2.5 0 0 1 .049-.49l.335-1.68c.11-.546.465-1.012.964-1.261a.8.8 0 0 0 .381-.404l.792-1.848ZM3 10a1 1 0 1 0 0-2 1 1 0 0 0 0 2m10 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2M6 8a1 1 0 0 0 0 2h4a1 1 0 1 0 0-2zM2.906 5.189a.51.51 0 0 0 .497.731c.91-.073 3.35-.17 4.597-.17s3.688.097 4.597.17a.51.51 0 0 0 .497-.731l-.956-1.913A.5.5 0 0 0 11.691 3H4.309a.5.5 0 0 0-.447.276L2.906 5.19Z"></path>
                    </svg>
                    <p class="text-center">Уникальный дизайн</p>
                  </div>
                  <div class="d-flex flex-column align-items-center justify-content-center">
                    <svg class="bi bi-hand-thumbs-up-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                      <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a10 10 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733q.086.18.138.363c.077.27.113.567.113.856s-.036.586-.113.856c-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.2 3.2 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.8 4.8 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"></path>
                    </svg>
                    <p class="text-center">Качество</p>
                  </div>
                  <div class="d-flex flex-column align-items-center justify-content-center">
                    <svg class="bi bi-house-door-fill" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                      <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5"></path>
                    </svg>
                    <p class="text-center">Собственно производство</p>
                  </div>
                  <div class="d-flex flex-column align-items-center justify-content-center">
                    <svg class="bi bi-boxes" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                      <path d="M7.752.066a.5.5 0 0 1 .496 0l3.75 2.143a.5.5 0 0 1 .252.434v3.995l3.498 2A.5.5 0 0 1 16 9.07v4.286a.5.5 0 0 1-.252.434l-3.75 2.143a.5.5 0 0 1-.496 0l-3.502-2-3.502 2.001a.5.5 0 0 1-.496 0l-3.75-2.143A.5.5 0 0 1 0 13.357V9.071a.5.5 0 0 1 .252-.434L3.75 6.638V2.643a.5.5 0 0 1 .252-.434zM4.25 7.504 1.508 9.071l2.742 1.567 2.742-1.567zM7.5 9.933l-2.75 1.571v3.134l2.75-1.571zm1 3.134 2.75 1.571v-3.134L8.5 9.933zm.508-3.996 2.742 1.567 2.742-1.567-2.742-1.567zm2.242-2.433V3.504L8.5 5.076V8.21zM7.5 8.21V5.076L4.75 3.504v3.134zM5.258 2.643 8 4.21l2.742-1.567L8 1.076zM15 9.933l-2.75 1.571v3.134L15 13.067zM3.75 14.638v-3.134L1 9.933v3.134z"></path>
                    </svg>
                    <p class="text-center">Быстрая доставка</p>
                  </div>
                </div>
            </div>
            <div class="col-5">
              <img class="rounded-3 w-100" style="height: 400px;" src="https://placehold.co/500x400?text=Место+для+видео" alt="Заглушка для видео">
               {# <video class="embed-responsive-item h-100 rounded-5" src="/assets/comfort/img/Video-Placeholder.mp4" style="object-fit: cover;" preload="auto" no-controls autoplay loop playsinline muted allowfullscreen></video> #}
            </div>
          </div>
        </section>