<section class="container py-3">
    <h2 class="visually-hidden">Хлебные крошки</h2>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb m-0" style="font-size: 11px;">
        <li class="breadcrumb-item"><a class="text-secondary text-decoration-none" href="{{ path('core:user.homepage') }}">Главная</a></li>
        <li class="breadcrumb-item"><a class="text-secondary text-decoration-none" href="#">Другая страница</a></li>
        <li class="breadcrumb-item"><a class="text-secondary text-decoration-none" href="#">Еще одна страница</a></li>
      </ol>
    </nav>
</section>