{% trans_default_domain 'homepage.user' %}

<main>
    {% include Template('@comfort:Template/'~baks_settings.device~'/includes/contactSection.html.twig') %}
    {% include Template('@comfort:Template/'~baks_settings.device~'/includes/feedback.html.twig') %}
</main>