<section class="container pt-4 pb-5 mb-5">

    <div class="d-flex bg-pic-tablet ">

        <div class="border rounded-4 px-4 py-4 bg-white bg-opacity-75 position-relative " style="width:60%">

            <div class="d-flex align-items-center justify-content-between  mb-3">
                <h2 class="fs-6 mb-0 text-uppercase fw-bold">
                    Вход в личный кабинет
                </h2>
                <a href="{{ path('auth-email:user.registration') }}"
                   class="btn btn shadow rounded-5 fs-12 text-decoration-underline px-3">
                    Регистрация
                </a>
            </div>

            {{ include(_self|replace({ "_includes/auth.html.twig" : "_form/auth.html.twig" })) }}

        </div>

        <div style="width:40%">
            <a href="{{ path('core:user.homepage') }}">
                <img class="w-100 d-block" src="/assets/img/Logo.svg" style="height: 160px;"
                     alt="Логотип компании">
            </a>
        </div>


    </div>

</section>



