<section class="container ps-5 pt-3 pb-5 d-flex align-items-center justify-content-between gap-5 ">
    <div><h2 class="fs-4 mb-5"> Контакты
        </h2>
        <ul class="list-group gap-3">
            <li class="list-group-item border-0 ps-0"><p class="m-0 fs-6"><strong>Адрес:</strong></p><span class="fs-6"> г.Химки, ул.Лавочкина, 13к2
</span></li>
            <li class="list-group-item border-0 ps-0"><p class="m-0 fs-6"><strong>Телефон:</strong></p><a
                        class="text-decoration-none text-black" href="tel:+7(123)456-78-90"><span class="fs-5"> +7 (800) 555 35 35
</span></a><br><span>Бесплатно по всей РФ</span></li>
            <li class="list-group-item border-0 ps-0"><p class="m-0 fs-6"><strong>Режим работы офиса:</strong></p><span> Работаем ежедневно с 10.00 до 20.00
Воскресенье - выходной
</span></li>
            <li class="list-group-item border-0 ps-0"><p class="m-0 fs-6"><strong>E-mail:</strong></p><a
                        class="text-decoration-none text-black" href="mailto:нашапочта@comfort-avenue.ru"><span><u>НашаПочта@comfort-avenue.ru</u></span></a>
            </li>
        </ul>
    </div>
    <div class="map w-100 rounded-4"></div>
</section>